<!doctype html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Admin Page</title>
</head>
<body>
<h1>Admin Page</h1>
<form th:action="@{/admin/addservice}" method="post" th:object="${servicePost}">
  <!-- Form fields -->
  <input type="text" th:field="*{postTitle}" placeholder="Post Title" required/>
  <textarea th:field="*{postDetail}" placeholder="Post Detail" required></textarea>
  <input type="submit" value="Add Post"/>
</form>
</body>
</html>
