<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin certification</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.15/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100 py-8 px-4">
<a href="/admin" class="text-center bg-blue-900 hover:bg-blue-800 text-white font-bold py-2 px-4 rounded">Admin Page</a>

<div class="max-w-md mx-auto">
    <form th:action="@{/admin/addCertifications}" th:object="${certifications}" method="post" class="mt-8">
        <select id="numUrls" name="numUrls" onchange="addInputFields()" class="border border-gray-300 rounded px-3 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500">
            <option value="" disabled selected>Number of Image URLs to Add:</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
        </select>

        <div class="mb-4">
            <ul id="imageUrlList"   placeholder="Image URL"; class="mb-4"></ul>
        </div>

        <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Create certification</button>
    </form>
</div>

<h2 class="text-2xl font-bold mt-8">Certification Table</h2>
<table class="w-full  rounded-lg mt-4">
    <thead>
    <tr>
        <th class="py-2 px-4 bg-gray-200 font-bold text-sm text-gray-700">ID</th>
        <th class="py-2 px-4 bg-gray-200 font-bold text-sm text-gray-700">Image URLs</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="certification : ${certificationsList}">
        <td class="py-2 px-4 border-b border-gray-200" th:text="${certification.id}"></td>
        <td class="py-2 px-4 border-b border-gray-200">
            <ul>
                <li th:each="imageUrl : ${certification.imageUrls}" th:text="${imageUrl}" ></li>
            </ul>
        </td>
    </tr>
    </tbody>
</table>

<script>
        function addInputFields() {
            var numUrls = document.getElementById("numUrls").value;
            var imageUrlList = document.getElementById("imageUrlList");

            // Clear the existing input fields
            imageUrlList.innerHTML = "";

            for (var i = 0; i < numUrls; i++) {
                var li = document.createElement("li");
                var input = document.createElement("input");
                input.type = "text";
                input.name = "imageUrls";
                input.className = "border border-gray-300 rounded px-3 py-2 mb-1 focus:outline-none focus:ring-2 focus:ring-blue-500";
                li.appendChild(input);
                imageUrlList.appendChild(li);
            }
        }

        function submitForm() {
            var form = document.getElementById("imageForm");
            form.action = "/admin/addCertifications";
            form.method = "POST";
        }
    </script>
</body>
</html>
