<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>certifications</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">

</head>
<style>

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

.com_info{
background:#002E5B;

}
.svg_info{

color:white
}
option{
background:#002E5B;
color:white;
font-weight:bold;

}

select{
background:#FDE428;
font-weight:bold;
height:100%;
}
  .policy_info{
 background:#FDE428;
  }
  .service_hr{
background:white}
.routes a{
color:#002E5B;
}
.routes span{
color:#002E5B;
}
.policy_images{
width:80%;
margin:0 auto;
min-height:120vh;

}
 .footer{
       background:#172554
    }

    /* Style for the copyright notice */
    .copyright {
      margin-top: 20px;
      text-align: center;
    }
    .nav ul li a{
    font-weight:bold;
    font-family:Roboto;
    }
  </style>
<body>


<div class=" com_info mx-auto py-8 hidden md:flex justify-end ">
    <div id="location-details" class="hidden  ">
        <div class="flex items-center mr-4 ">
            <svg style="color: white  "class="svg_info" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24"><path d="M18,4.48a8.45,8.45,0,0,0-12,12l5.27,5.28a1,1,0,0,0,1.42,0L18,16.43A8.45,8.45,0,0,0,18,4.48ZM16.57,15,12,19.59,7.43,15a6.46,6.46,0,1,1,9.14,0ZM9,7.41a4.32,4.32,0,0,0,0,6.1,4.31,4.31,0,0,0,7.36-3,4.24,4.24,0,0,0-1.26-3.05A4.3,4.3,0,0,0,9,7.41Zm4.69,4.68a2.33,2.33,0,1,1,.67-1.63A2.33,2.33,0,0,1,13.64,12.09Z" fill="white"></path></svg>

            <span id="location-address" class="ml-1 text-white"></span>
        </div>
        <div class="flex items-center ">
            <svg xmlns="http://www.w3.org/2000/svg"   width="16" height="16" fill="currentColor" class=" svg_info bi bi-telephone" viewBox="0 0 16 16"> <path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/> </svg>

            <span id="location-phone" class="ml-1 text-white"></span>
        </div>
    </div>
    <div class="flex items-center space-x-4 mx-20">
        <select id="location-select" class="border border-gray-300 rounded p-4 h-full">
            <option class="py-2 px-4" value="" disabled selected>Choose a location</option>
            <option class="py-2 px-4" value="erbil">Erbil</option>
            <option class="py-2 px-4" value="mosul">Mosul</option>
            <option class="py-2 px-4" value="talafar">Tal Afar</option>
        </select>
    </div>
</div>





<!--navbar-->
<nav class="bg-white border-gray-200 dark:bg-gray-900 mr-6">
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
        <a href="https://flowbite.com/" class="flex items-center">
            <img src="https://chwarbarda.com/wp-content/uploads/2019/09/06.png" style="width: 180px; height: px;" alt="Chwarbarda">
        </a>
        <button data-collapse-toggle="navbar-default" type="button" class="inline-flex items-center p-2 ml-3 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-default" aria-expanded="false">
            <span class="sr-only">Open main menu</span>
            <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg>
        </button>
        <div class="hidden w-full md:block md:w-auto nav" id="navbar-default">
            <ul class="w-full text-center font-medium flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
                <li>
                    <a href="/" class="align-center block py-2 pl-3 pr-4 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 dark:text-white md:dark:text-blue-500" aria-current="page">Home</a>
                </li>
                <li>
                    <a href="/service" class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Service</a>
                </li>
                <li>
                    <a href="/policy" class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Policy</a>
                </li>
                <li>
                    <a href="/certifications" class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Certifications</a>
                </li>
                <li>
                    <a href="/projects" class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Projects</a>
                </li>
                <li>
                    <a href="/about" class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">About us</a>
                </li>
                <li>
                    <a href="/contact" class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Contact us</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="policy_info h-72 relative">

    <div class="block  w-30 container mx-40 ">
        <div class=" mx-auto flex routes my-5 relative top-20 left-2">
            <a class="text-white text-xl " href="/">Home </a>
            <span class="text-white text-xl "> > </span>
            <a class="text-white text-xl " href="/certifications"> Certifications</a>
        </div>


        <h1 class="service_header  font-normal font-bold text-5xl my-5 relative top-20">Certifications</h1>
        <hr class="service_hr absolute left-30 bottom-16 w-24 h-1 mx-auto my-1  border-0 rounded md:my-2">
    </div>

</div>



<div class="policy_images flex md:flex-row flex-col flex-wrap gap-4 items-center justify-center mb-30 my-4" th:each="certifications : ${certifications}">
    <div th:each="imageUrl : ${certifications.imageUrls}">
        <img th:src="@{${imageUrl}}" alt="certifications Image" class="w-64 text-center h-auto xl:w-80 2xl:w-96" />
    </div>
</div>



<div class="footer contact-section text-white  h-24 w-full my-30">
    <div class="text-white text-center">
        <p class="text-lg relative top-10 ">All Rights Reserved &copy;2021 | Powered By Twekl Company – Web Development & Design.</p>
    </div>

</div>


<script>

// JavaScript code to toggle the for location info
  const locationSelect = document.getElementById('location-select');
  const locationDetails = document.getElementById('location-details');
  const locationAddress = document.getElementById('location-address');
  const locationPhone = document.getElementById('location-phone');

  locationSelect.addEventListener('change', (event) => {
    const selectedLocation = event.target.value;
    if (selectedLocation === 'erbil') {
      locationAddress.textContent = 'Italian Village_House #638';
      locationPhone.textContent = '07504604602';
    } else if (selectedLocation === 'mosul') {
      locationAddress.textContent = 'Mosul / Noor Qrt.House No#123/128 -27';
      locationPhone.textContent = '07517637226';
    } else if (selectedLocation === 'talafar') {
      locationAddress.textContent = 'Tal Afar / Doctors street House No#17/560';
      locationPhone.textContent = '07510808942';
    } else {
      locationAddress.textContent = '';
      locationPhone.textContent = '';
    }

    locationDetails.classList.toggle('hidden', selectedLocation === '');
  });

  // navbar
  const mobileMenuBtn = document.querySelector('[data-collapse-toggle="navbar-default"]');
  const mobileMenu = document.getElementById('navbar-default');

  mobileMenuBtn.addEventListener('click', () => {
    mobileMenu.classList.toggle('hidden');
    mobileMenu.classList.toggle('flex');
  });

</script>
</body>
</html>
