<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
    <!-- Include the Tailwind CSS CDN -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.17/dist/tailwind.min.css" rel="stylesheet">
    <!-- Include the Tailwind CSS Animation Plugin CDN -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss-animatecss@0.2.0/dist/tailwind-animate.min.css" rel="stylesheet">
</head>

<body class="bg-gray-100">
<div class="flex justify-center items-center h-screen">
    <form th:action="@{/login}" method="post" class="bg-white shadow-md rounded w-92 px-12 pt-6 pb-8 animate__animated animate__fadeIn">
        <h1 class="text-2xl text-center mb-6">Login</h1>
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="username">Username</label>
            <input type="text" name="username" id="username" placeholder="Username" required
                   class="appearance-none border rounded w-full py-2 px-6 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
        </div>
        <div class="mb-6">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="password">Password</label>
            <input type="password" name="password" id="password" placeholder="Password" required
                   class="appearance-none border rounded w-full py-2 px-6 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
        </div>
        <div class="flex items-center justify-between">
            <input type="submit" value="Login"
                   class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline cursor-pointer transition-colors duration-300">
        </div>
    </form>
</div>
</body>

</html>
